body
{
    width: 800px;
    height: 550px;
    background-color: #1A1313;
    margin: auto;
}
#canGame
{ 
    border: 4px black solid;
    margin-left: 75px;

}
#Background
{
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-image: url("../Images/CSS/background.jpg");
    background-position:  top;
    border: 10px black solid;
}
#BoatRacing
{
    text-align: center;
    font-size: 300%;
    margin-top: 10px;
    color: white;
}
#Inputs
{
    text-align: center;
}
#valider
{
    text-align: center;
}
#form
{
    height : 210px;
}
span
{
     color: white;
     font-weight: bold;
}
#Title
{
    background-image: url("../Images/CSS/Titre.jpg");
    width:100%;
}